h3 {
    color: orange;
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    background-color: lightblue;
    border-collapse: collapse;
    
}
table {
    margin: auto;
    width: 300px;
}